<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射文件 -->
<mapper namespace="com.fb.webdemo.dao.DetailsDao">

	<sql id="baseColumns">
		id,
		result_id,
		item_id
	</sql>
	
	<insert id="save" parameterType="details">
		insert into details
		(id, result_id, item_id)
		values
		(#{id}, #{resultId}, #{itemId})
	</insert>
	
	<insert id="batchSave" parameterType="List">
		insert into details
		(id, result_id, item_id)
		<foreach collection="list" item="details" index="index" separator="union all">
			select #{details.id}, #{details.resultId}, #{details.itemId} from dual
		</foreach>
	</insert>
	
	<select id="findList" resultType="details" parameterType="details">
		select
		<include refid="baseColumns"></include>
		from details
		<include refid="condition"></include>
		order by sort
	</select>

	<sql id="condition">
		<where>
		</where>
	</sql>

</mapper>
