<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射文件 -->
<mapper namespace="com.fb.webdemo.dao.HotnewsDao">

	<!-- <cache /> -->
	
	<sql id="baseColumns">
		id, title
	</sql>

	<select id="get" resultType="hotnews" parameterType="hotnews">
		select
		<include refid="baseColumns"></include>
		from hotnews
		where id = #{id}
	</select>

	<select id="findList" resultType="hotnews" parameterType="hotnews">
		select
		<include refid="baseColumns"></include>
		from hotnews
		<include refid="condition"></include>
	</select>

	<sql id="condition">
		<where>
			<if test="id neq null and id neq ''">
				and id = #{id}
			</if>
			<if test="title neq null">
				and title = #{title}
			</if>
		</where>
	</sql>

	<insert id="save" parameterType="hotnews">
		insert into hotnews
		(
		id,
		title
		)
		values
		(
		#{id},
		#{title}
		)
	</insert>


</mapper>
