<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射文件 -->
<mapper namespace="com.fb.webdemo.dao.ItemDao">

	<sql id="baseColumns">
		id,
		name
	</sql>
	
	<select id="get" resultType="item" parameterType="item">
		select
		<include refid="baseColumns"></include>
		from item
		where id = #{id}
	</select>
	
	<select id="findList" resultType="item" parameterType="item">
		select
		<include refid="baseColumns"></include>
		from item
		<include refid="condition"></include>
		order by sort
	</select>

	<sql id="condition">
		<where>
			<if test="parentId neq null and parentId neq ''">
				and parent_id = #{parentId} 
			</if>
			<if test="itemLevel neq null">
				and item_level = #{itemLevel} 
			</if>
		</where>
	</sql>

</mapper>
