<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射文件 -->
<mapper namespace="com.fb.webdemo.dao.MyDao">

	<sql id="baseColumns">
		name
	</sql>
	<sql id="joinColumns">
	</sql>
	
	<select id="get" resultType="a" parameterType="a">
		select
		<include refid="baseColumns"></include>
		<include refid="joinColumns"></include>
		from a
		where id = #{id}
	</select>
	
	<select id="findList" resultType="a" parameterType="a">
		select
		<include refid="baseColumns"></include>
		<include refid="joinColumns"></include>
		from a
		<include refid="condition"></include>
	</select>

	<sql id="condition">
		<where>
			<if test="id neq null and id neq ''">
				and id = #{id} 
			</if>
			<if test="name neq null and name neq ''">
				and name = #{name} 
			</if>
		</where>
	</sql>

	<insert id="save" parameterType="a">
		insert into a
		(
		id,
		name,
		birth
		)
		values
		(
		#{id},
		#{name},
		#{birth}
		)
	</insert>


</mapper>
