<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射文件 -->
<mapper namespace="com.fb.webdemo.dao.ResultDao">

	<sql id="baseColumns">
		id,
		item1_count,
		item2_count,
		item3_count
	</sql>
	
	<insert id="save" parameterType="result">
		insert into result
		(id, item1_count,item2_count,item3_count)
		values
		(#{id}, #{item1Count}, #{item2Count}, #{item3Count})
	</insert>
	
	<select id="findList" resultType="result" parameterType="result">
		select
		<include refid="baseColumns"></include>
		from result
		<include refid="condition"></include>
		order by sort
	</select>

	<sql id="condition">
		<where>
		</where>
	</sql>

</mapper>
